In [12]:
import pandas as pd
import json

In [2]:
data_kimble = pd.read_csv("mockData.csv")

In [3]:
data_kimble.head()

,name,last_name,bench,location,title,yoe,project,skills
0,Erick Misael,Reyes Medina,NaN,MDC,SDET,4,BH,NaN
1,Ricardo,Sandoval,False,MDC,SDET,3,BH,NaN
2,Miguel,Martinez,False,MDC,Sr SDET,6,BCBS,java$selenium$python$cucumber$jira

In [4]:
data_kimble = data_kimble.set_index('name')

In [5]:
data_kimble

,last_name,bench,location,title,yoe,project,skills
name,,,,,,,
Erick Misael,Reyes Medina,NaN,MDC,SDET,4,BH,NaN
Ricardo,Sandoval,False,MDC,SDET,3,BH,NaN
Miguel,Martinez,False,MDC,Sr SDET,6,BCBS,java$selenium$python$cucumber$jira

In [10]:
profile = data_kimble.loc["Miguel"]

In [11]:
profile

last_name                              Martinez
bench                                     False
location                                    MDC
title                                   Sr SDET
yoe                                           6
project                                    BCBS
skills       java$selenium$python$cucumber$jira
Name: Miguel, dtype: object

In [22]:
skills = list(profile["skills"].split("$"))

In [23]:
skills

['java', 'selenium', 'python', 'cucumber', 'jira']

In [15]:
profile_from_json = json.load(open("profile.json", "r"))

In [16]:
profile_from_json

{'name': 'Miguel',
 'lastName': 'Martinez',
 'bench': False,
 'user': 'mmartinez',
 'location': 'MDC',
 'age': None,
 'skills': ['Java', 'Serenity', 'PostgreSQL', 'TestNG', 'Maven', 'MongoDB'],
 'profile': {'summary': 'Skilled software engineer working as an Automation Engineer on frameworks for Web and Desktop applications. Great performer with an attitude of facing new challenges using different technologies.',
  'yoe': 6,
  'title': 'Senior SDET'}}

In [20]:
profile_from_json["skills"]

['Java', 'Serenity', 'PostgreSQL', 'TestNG', 'Maven', 'MongoDB']